.add-task-model {
  max-width: 500px;
  width: 100%;
  display: flex;
  background-color: var(--white);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  /* position: absolute; */
}
.add-task-model.light {
  background-color: var(--white);
}
.add-task-model.dark {
  color: var(--white);
  background-color: var(--dark-grey);
}
.add-task-model input {
  height: 40px;
  border: 1px solid #828fa340;
  border-radius: 4px;
  width: 100%;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  padding-left: 16px;
  font-size: 13px;
  line-height: 23px;
}
.add-task-model input::placeholder {
  color: rgb(130, 143, 163, 0.50)
}
.add-task-model textarea::placeholder {
  color: rgb(130, 143, 163, 0.50)
}
.add-task-model textarea {
  outline: none;
  height: 112px;
  width: 100%;
  border: 1px solid #828fa340;
  border-radius: 4px;
  font-weight: 500;
  padding-left: 16px;
  padding-right: 25px;
  font-size: 13px;
  line-height: 23px;
}
.add-task-model textarea:focus {
  border: 2px solid var(--main-purple);
}
.add-task-model input:focus {
  border: 2px solid var(--main-purple);
}
.add-task-model.light input,
textarea {
  background-color: var(--white);
}
.add-task-model.light textarea {
  color: black;
  background-color: var(--white);
}
.add-task-model.dark input,
textarea {
  color: var(--white);
  background-color: var(--dark-grey);
}
.add-task-model p {
  margin-bottom: 8px;
}
.add-task-model.dark p {
  color: var(--white);
}
.add-task-model.light p {
  color: var(--grey-medium);
}
.add-task-model .btn-secondry {
  width: 100%;
  font-weight: bold;
  margin-top: 12px;
}
.add-task-model .btn-primary-s {
  font-weight: bold;
}
.input-st-container p {
  margin-bottom: 8px;
}
.subtasks-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.subtask-input {
  position: relative;
  width: 100%;
  display: flex;
}
.warning-text {
  position: absolute;
  top: 50%;
  right: 0; 
  transform: translateX(-50%) translateY(-50%);
  color: var(--red);
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
}
.subtask-input.red input {
  border: 2px solid var(--red);
  padding-right: 16px;
}
.subtask-input.light {
  background-color: var(--white);
}
.subtask-input.dark {
  background-color: var(--dark-grey);
}
.subtask-input button {
  border: none;
  margin-left: 16px;
  cursor: pointer;
}
.subtask-input.light button {
  background-color: var(--white);
}
.subtask-input.dark button {
  background-color: var(--dark-grey);
}
.subtask-input .st-input-box {
  width: 100%;
  height: 40px;
}
.btn-secondry.light {
  background-color: rgba(98, 95, 199, 0.1);
  cursor: pointer;
}
.btn-secondry.dark {
  background-color: var(--white);
  cursor: pointer;
}
.btn-secondry:hover.dark {
  background-color: var(--white);
}
.add-task-model p.error-message {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: var(--red);
  margin: 8px 0 0 0;
  text-align: center;
}
