header.dark {
  background-color: var(--dark-grey);
}
header.light {
  background-color: var(--white);
}
.header-mobile {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-desktop{
  display: none;
}
.header-desktop h1.light {
  background-color:var(--white) ;
  color: black;
}
.header-desktop h1.dark {
  background-color: var(--dark-grey);
  color: var(--white);
}
.header-desktop h4{
  font-size: 20px;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  height: 32px;
}
.header-right .btn-primary-l {
  height: 32px;
  border: none;
  background-color: var(--main-purple);
  border-radius: 24px;
  color: var(--white);
  display: flex;
  flex-direction: row-reverse;
  padding: 0 16px; 
  align-items: center;
}
.header-right .btn-primary-l h4{
  white-space: nowrap;
  letter-spacing: normal;
  display: none;
}
.header-right .btn-primary-l img {
  width: 12px; /* Adjust to the original size of your SVG */
  height: 12px; /* Adjust to the original size of your SVG */
}
/* .task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border: 5px dashed red; */

.header-right.light {
  background-color: var(--white);
}
.header-right.dark {
  background-color: var(--dark-grey);
}
.header-right.light .brd-options-btn {
  background-color: var(--white);
  border: none;
}
.header-right.dark .brd-options-btn {
  background-color: var(--dark-grey);
  border: none;
}
.board-header-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  translate: 0 100%;
  width: 192px;
  border-radius: 8px;
  padding: 16px;
  background-color: var(--white);
}
.board-header-menu button {
  display: block;
  height: 47px;
  width: 100%;
  text-align: left;
  border: none;
}
.board-header-menu.light {
  background-color: var(--white);
}
.board-header-menu.dark {
  background-color: var(--very-dark-black);
}
.board-header-menu.light .edit-b-btn {
  background-color: var(--white);
  color: var(--grey-medium);
}
.board-header-menu.dark .edit-b-btn {
  background-color: var(--very-dark-black);
  color: var(--grey-medium);
}
.board-header-menu.light .delete-b-btn {
  background-color: var(--white);
  color: var(--red);
}
.board-header-menu.dark .delete-b-btn {
  background-color: var(--very-dark-black);
  color: var(--red);
}
.show-asidebar-btn{
  display: none;
  position: absolute;
  left: 0;
  bottom: 32px;
  height: 48px;
  width: 56px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: var(--main-purple);
  border: none;
  cursor: pointer;
}
.show-asidebar-btn:hover{
  background-color: var(--main-purple-hover);
}
@media screen and (min-width:768px) {
  .header-right .btn-primary-l h4{
    display: block;
  }
  .header-right .btn-primary-l img {
    display: none;
  }
  .header-left{
    padding-left: 260px;
  }
  .header-mobile{
    display: none;
  }
  .header-desktop{
    display: block;
    font-size: 20px;
  }
  .show-asidebar-btn {
    display: block;
  }
}
